IpfixPacket::write: Unexpected field length serialized before the field applicationId

Hello, thank you for the work you put into this very useful project for developers working with Ipfix in Rust. I use this library at work to implement an IPFIX exporter component.

I use NetGauze v0.8.0

I have an OptionsTemplate with the applicationId as scope field. It is correctly serialized and sent to my local collector along with the associated fields. Then I send an IpfixPacket with an applicationId (length 4) as scope field and contains some DataRecords as fields with the template id corresponding to the previously sent OptionsTemplate.

Opening with Wireshark the result.pcap of a tcpdump shows that the IPFIX is malformed. As you can see from the screenshot below the bytes are correct until the end of the bytes underlined in green (i.e. FlowSet Length), then there is 0x04 (i.e. the applicationId length, **totally unexpected by Wireshark**) then the applicationId (underlined in blue, 0x0D = 13 = PANA-L7).

<img width="1542" height="313" alt="Image" src="https://github.com/user-attachments/assets/b51ffca2-40a7-4884-b843-e7d5a3328a71" />

Accordingly to the [RFC 6759 section 4.2](https://www.rfc-editor.org/rfc/rfc6759.html#section-4.2) the selector ID is of a fixed size for some classification engine ID like PANA-L7. Maybe that is why the wireshark dissector doesn't expect a length before the applicationId?

Please, if you need further info or clarifications let me know.